<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashball"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_balon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChuteApp"
        tools:targetApi="31" >
        <activity
            android:name="com.chuteapp.chuteapp.register"
            android:exported="false" />
        <activity
            android:name="com.chuteapp.chuteapp.MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chuteapp.chuteapp.StoreView" />
        <activity android:name="com.chuteapp.chuteapp.Equipos" />
        <activity android:name="com.chuteapp.chuteapp.Perfil" />
        <activity android:name="com.chuteapp.chuteapp.Crear" />
        <activity android:name="com.chuteapp.chuteapp.Maps" />
        <activity android:name="com.chuteapp.chuteapp.MisEquipos" />
        <activity android:name="com.chuteapp.chuteapp.Equipo" />
        <activity android:name=".NuevoEquipo"/>
        <activity android:name=".Mqtt"/>
    </application>

</manifest>